<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>微淘</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link type="text/css" rel="styleSheet" href="../css/mask.css"/>
    <link type="text/css" rel="styleSheet" href="../css/weTao.css"/>
</head>
<body style="background: linear-gradient(#F0F0F0,#F2F2F2);margin: auto;">
<div id="weTao">
    <div class="topPlaceHolder"></div>
    <div v-if="mask" class="mask">
        <div v-cloak>
            {{maskText}}
        </div>
    </div>
    <div v-if="top" class="tips">
        刷新中...
    </div>
    <div class="container" style="" v-for="item in list">
        <div style="cursor: pointer;z-index:99;" @click="getDetail" v-bind:data-id="item.id">
            <div class="title">
                <span v-html="item.content"></span>
            </div>
            <div class="image-container">
                <div class="images" v-for="img in item.images">
                    <img style="display: inline-block;" v-bind:src="img.remoteUrl">
                </div>
            </div>

            <div class="bottom">
                <div style="float: left;">
                    <span>{{item.createTime}}</span>
                    <div class="wrap">
                        <img src="../images/view-0.png">
                        <span>{{item.view}}</span>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="wrap">
                        <img style="vertical-align: text-bottom;" v-if="item.isZan" src="../images/zan-1.png"
                             @click.stop="zan" v-bind:data-id="item.id">
                        <img style="vertical-align: text-bottom;" @click.stop="zan" v-bind:data-id="item.id" v-else
                             src="../images/zan-0.png">
                        <span>{{item.zan}}</span>
                    </div>
                    <div class="wrap">
                        <img src="../images/comment-0.png">
                        <span>{{item.comment}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="nomore" class="tips">
        没有更多微淘了
    </div>
    <div v-if="bottom" class="tips">
        加载中...
    </div>

    <div class="top">
        <img @click="goBackMinapp" src="../images/go_back.png" style="height:20px;width:20px;margin-left:5px;">
        <span class="top-title">微淘</span>
    </div>
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../js/config.js"></script>
<script src="../js/weTao.js"></script>

</body>
</html>