.container {
    margin: 10px 10px;
    border: 1px solid #E0EEEE;
}

.pcat {
    background: #fff;
    padding: 10px;
}

.pcat input {
    font-weight: bold;
}

.pcat div {
    display: inline-block;
}

.subcat {
    margin: 10px 40px;
}

.subcat div {
    display: inline-block;
}

.add {
    margin: 10px 10px;
    padding: 10px 10px;
}

.add div {
    display: inline-block;
}

.sort {
    background: #FFE4C4;
}

.add-sub {

}

.add-sub div {
    display: inline-block;
    margin: 10px 40px;
}