body {
    margin: auto;
    margin: 0px;
}

input {
    border: none;
    outline: medium;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

select {
    border: none;
    outline: none;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}

select:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 8px #ffffff;
}

input:focus {
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0px 1px 8px #fff;
    background: #fff;
    border-radius: 0px;
    border-radius: 5px;
}

button {
    /*background-color: #178FE5; */
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button1 {
    background-color: #fff;
    color: #451920;
    border: 1px solid #810020;
}

.buttonLogin {
    background-color: #00B2EE;
    color: #fff;
    border: 1px solid #810020;
}

.buttonLogin:hover {
    background-color: #810020;
    color: white;
    box-shadow: 0px 1px 8px #FF4500;
}

.button-del {
    background-color: white;
    color: #000;
    border: 1px solid #DC143C;
}

.button-del:hover {
    background-color: red;
    color: white;
    box-shadow: 0px 1px 8px red;
}

.button1:hover {
    background-color: #810020;
    color: white;
    box-shadow: 0px 1px 8px #FF4500;
}

.buttonDisable {
    background-color: #BBBBBB;
    color: white;
    border: 1px solid #810020;
}

.buttonReg {
    background: rgba(0, 0, 0, 0);
}

.buttonReg:hover {
    background-color: #810020;
    color: white;
    box-shadow: 0px 1px 8px #FF4500;
}

.card {
    background: #fff;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    border: 1px solid #E0EEEE;
    margin: 10px 10px;
}

.card div {
    display: inline-block;
    margin: 10px 5px;
}

.setting-title {
    color: #666666;
    font-size: 10px;
}

.autocomplete-suggestions {
    padding: 10px;
    background: #fff;
    border: 1px solid #E0EEEE;
    overflow: auto;
}

.autocomplete-suggestion {
    height: 35px;
    line-height: 35px;
    padding: 5px;
    border-bottom: 1px solid #E0EEEE;
}

.autocomplete-suggestion:hover {
    background: #E0EEEE;
}

.prompt {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
}

.prompt-1 {
    height: 400px;
    width: 400px;
    background: #E0EEEE;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    border-radius: 6px;
}

.prompt-1 div {
    margin: 10px;
}