[v-cloak] {
    display: none;
}

.prompt{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
}

.prompt-1{
    height: 300px;
    width: 400px;
    background: #E0EEEE;
    color: #000;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    border-radius: 6px;
}
.prompt-1 div{
    margin: 10px;
}