<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link type="text/css" rel="styleSheet"  href="../../css/productMng.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/table.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/search.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/mask.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/page.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/common.css" />
</head>
<body>
<div id="productMng" style="margin-bottom: 50px;">
    <div v-if="mask" class="mask">
        <div v-cloak>
            {{maskText}}
        </div>
    </div>
    <div class="search">
        <div>商品ID：<input  v-model="condition.productId" type="text" placeholder="商品ID"/></div>
        <div>商品名：<input v-model="condition.productName"  type="text" placeholder="商品名"/></div>
        <div>状态：
            <select v-model="condition.status.selected">
                <option  value="-1">请选择</option>
                <option v-for="option in condition.status.options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div>一级分类：
            <select v-on:change="pCategoryChanged" v-model="condition.pCategory.selected">
                <option  value="">请选择</option>
                <option v-for="option in condition.pCategory.options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div v-if="condition.subCategory">二级分类：
            <select v-on:change="subCategoryChanged" v-model="condition.subCategory.selected">
                <option  value="">请选择</option>
                <option  v-for="option in condition.subCategory.options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div>
            <button class="button1" @click="search">查询</button>
        </div>

        <div style="display: block;margin-top: 10px;">
            <button class="button1"  @click="addProduct">新增</button>
            <button class="button1"  data-flag="1" @click="operator">下架/下架</button>
            <button class="button1"  data-flag="2" @click="operator">标为热门/非热门</button>
            <button class="button1"  data-flag="3" @click="operator">标为打折/非打折</button>
            <span>(操作总是根据当前商品的状态取反)</span>
        </div>
    </div>

    <div class="table">
        <div class="table-column-group">
            <div class="table-column"></div>
            <div class="table-column"></div>
            <div class="table-column"></div>
        </div>
        <div class="table-header-group">
            <ul class="table-row">
                <li class="table-cell">选择</li>
                <li class="table-cell">商品ID</li>
                <li class="table-cell">商品名称</li>
                <li class="table-cell">商品原价</li>
                <li class="table-cell">商品现价</li>
                <li class="table-cell">是否参团</li>
                <li class="table-cell">团购价</li>
                <li class="table-cell">库存</li>
                <li class="table-cell">状态</li>
                <li class="table-cell">PV</li>
                <li class="table-cell">交易量</li>
                <li class="table-cell">是否热门</li>
                <li class="table-cell">是否打折</li>
                <li class="table-cell">创建时间</li>
                <li class="table-cell">编辑</li>
            </ul>
        </div>
        <!--
        <div class="table-footer-group">
            <ul class="table-row">
                <li class="table-cell"></li>
                <li class="table-cell"></li>
                <li class="table-cell"></li>
                <li class="table-cell"></li>
            </ul>
        </div>-->
        <div class="table-row-group">
            <ul class="table-row" v-for="item in list">
                <li class="table-cell">
                    <input style="height: 15px;width: 15px;" v-bind:id="item.productId" v-bind:value="item.productId" type="checkbox" v-model="productIdChecked" />
                </li>
                <li class="table-cell">{{item.productId}}</li>
                <li class="table-cell">{{item.productName}}</li>
                <li class="table-cell">{{item.productOriginPrice}}</li>
                <li class="table-cell">{{item.productNowPrice}}</li>
                <li v-if="item.joinTogether==1" class="table-cell">是</li>
                <li v-else class="table-cell">否</li>

                <li class="table-cell">{{item.productTogetherPrice}}</li>
                <li class="table-cell">{{item.sotre}}</li>

                <li v-if="item.status==1" class="table-cell">上架</li>
                <li v-else  class="table-cell">下架</li>

                <li class="table-cell">{{item.pv}}</li>
                <li class="table-cell">{{item.deal}}</li>

                <li v-if="item.isHot" class="table-cell">是</li>
                <li v-else  class="table-cell">否</li>

                <li v-if="item.isSale" class="table-cell">是</li>
                <li v-else  class="table-cell">否</li>
                <li class="table-cell">{{item.createTime}}</li>

                <li class="table-cell"> <button  class="button1"  v-bind:data-productid="item.productId"  @click="edit">编辑</button></li>
            </ul>
        </div>
    </div>

    <div v-cloak class="pageInfo">
        <div v-cloak data-flag="-1" @click="more">&lt;&lt;上一页</div>
        {{page}}/{{pageTotal}}
        <div v-cloak  data-flag="1" @click="more">下一页&gt;&gt;</div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../../js/config.js"></script>
<script src="../../js/productMng.js"></script>

</body>
</html>