<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <link type="text/css" rel="styleSheet"  href="../../css/shopMng.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/mask.css" />
    <link type="text/css" rel="styleSheet"  href="../../css/common.css" />
</head>
<body>
<div id="shopMng" style="margin-bottom: 55px;">
    <div v-if="mask" class="mask">
        <div v-cloak>
            {{maskText}}
        </div>
    </div>
    <div id="shopHeader" class="card">
        <div style="display: block;">
            <div class="setting-title" class="setting-title">设置店铺名称及头像(100*100)</div>
        </div>
        <div>
            <input v-cloak v-model="shopName" value="{{shopName}}"  placeholder="请输入店铺名称"/>
        </div>
        <div class="shopAvatar">

            <img  v-if="shopAvatar" @click="avatarClick" v-bind:src="shopAvatar"/>
            <img  v-else @click="avatarClick" src="../../images/default-img.png"/>

            <input accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="shopAvatarChange" type="file" id="shopAvatarInput" style="display: none;"><br/>
        </div>
        <div class="setting-title">(点击头像修改100*100)</div>
    </div>

    <div id="shopWellcome" class="card">
        <div style="display: block;">
            <div class="setting-title">设置店铺欢迎语</div>
        </div>
        <div>
            <input v-cloak v-model="wellcomeText" value="{{wellcomeText}}"  placeholder="请输入欢迎语"/>
        </div>
    </div>

    <div id="shopBanner" class="card">
        <div style="display: block;">
            <div class="setting-title">设置店铺顶部Banner(320*120)</div>
        </div>
        <div class="shopBanner">

            <img  v-if="shopBanner" @click="shopBannerClick" v-bind:src="shopBanner"/>
            <img  v-else @click="shopBannerClick" src="../../images/default-img.png"/>

            <input accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="shopBannerChange" type="file" id="shopBannerInput" style="display: none;"><br/>
        </div>
        <div class="setting-title">(点击Banner修改)</div>
    </div>

    <div id="shopActivity" class="card">
        <div style="display: block;">
            <div class="setting-title">设置首页活动背景及文案(320*400)</div>
        </div>
        <div class="activityBg">
            <input type="text" v-bind:value="activityText" v-model="activityText" placeholder="输入活动文案" />
            <img  v-if="activityBg" @click="activityBgClick" v-bind:src="activityBg"/>
            <img  v-else @click="activityBgClick" src="../../images/default-img.png"/>
            <input accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="activityBgChange" type="file" id="activityBgInput" style="display: none;"><br/>
        </div>
        <div class="setting-title">(点击修改)</div>
    </div>

    <div id="shopFirstNav" class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺第一部分导航(60*30)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in firstNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="navImage">
                    <img data-flag="1"  v-bind:data-idx="index"  v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="1"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="1" v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged()" type="file" id="firstNavImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="1" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="1" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>


    <div id="shopSecondNav"  class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺第二部分导航(60*30)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in secondNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="navImage">
                    <img data-flag="2"  v-bind:data-idx="index" v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="2"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="2"   v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged" type="file" id="secondNavImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="2" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="2" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>


    <div id="shopSwiperNav"  class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺滚动横幅(320*170)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in swiperList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="bannerImage">
                    <img data-flag="3"  v-bind:data-idx="index" v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="3"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="3"   v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged" type="file" id="swiperImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="3" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="3" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>

    <div id="shopThirdNav"  class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺第三部分导航(40*40)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in thirdNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="thirdImage">
                    <img data-flag="4"  v-bind:data-idx="index" v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="4"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="4"   v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged" type="file" id="thirdImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="4" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="4" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>


    <div id="shopFourthNav"  class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺第四部分导航(320*120)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in fourthNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="fourthImage">
                    <img data-flag="5"  v-bind:data-idx="index" v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="5"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="5"   v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged" type="file" id="fourthImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="5" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="5" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>


    <div id="shopFiveNav"  class="card">
        <div  style="display: block;">
            <div class="setting-title">设置店铺第五部分导航(60*30)</div>
        </div>
        <div style="display: block;border:1px solid #fff;" v-for="(item,index) in fiveNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="0" disabled selected >导航类型</option>
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="navImage">
                    <img data-flag="6"  v-bind:data-idx="index" v-if="item.img" @click="navImgClick" v-bind:src="item.img"/>
                    <img data-flag="6"  v-bind:data-idx="index" v-else @click="navImgClick" src="../../images/default-img.png"/>
                    <input data-flag="6"   v-bind:data-idx="index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="navImgChanged" type="file" id="fiveImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="0" disabled selected >链接类型</option>
                    <option value="1" >小程序链接</option>
                    <option value="2" >H5链接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>
            <div @click="delNavItem" data-flag="6" v-bind:data-idx="index" style="font-size:13px;color:red;cursor: pointer;">删除</div>
        </div>
        <div  style="display: block;">
            <div @click="addNavItem" data-flag="6" style="font-size:13px;color:green;cursor: pointer;">增加</div>
        </div>
    </div>

    <div  style="position: fixed;bottom: 10px;left:50%;margin-left: -63px;">
        <div  style="display: block;text-align: center;">
            <button @click="saveShopConfig" class="button1">发布商铺</button>
        </div>
    </div>

    <div id="previewOnMobile" class="preview_1">
        <div class="screen-header">

        </div>
        <div class="screen-middle">
            <a href="#shopHeader">
                <div class="screen-middle-1">
                    <img  style="position: absolute;top: 0px;left: 0px;height: 120px;width: 300px;" v-bind:src="shopBanner">
                    <img  style="position: absolute;bottom: 10px;left: 10px;height: 35px;width: 35px;border: 2px solid #fff;" v-bind:src="shopAvatar">
                    <div style="position: absolute;bottom: 30px;left: 55px;font-size: 15px;color: #fff;">
                        {{shopName}}
                    </div>
                </div>
            </a>
            <a href="#shopFirstNav">
                <div class="screen-middle-2">
                    <div style="border-bottom:2px solid #ff4040;">
                        首页
                    </div>
                    <div v-for="item in firstNavList">
                        <div v-if="item.linkType==1">
                           {{item.text}}
                        </div>
                        <img  v-if="item.linkType==2"  style="height: 30px;width: 60px;" v-bind:src="item.img">
                    </div>
                </div>
            </a>


            <div class="screen-middle-middle">
                <a href="#shopWellcome">
                    <div style="height: 35px;line-height: 35px; font-size: 13px;color: #CDB79E; margin-left:10px; ">
                            {{wellcomeText}}
                    </div>
                </a>

                <a href="#shopSecondNav">
                    <div  style="height: 35px;line-height: 35px; width: 300px;text-align: center;  background: #fff;">
                        <div style="display:inline-block;text-align: left;font-size: 13px;color: #515151; width: 50px; border-left: 1px solid #ccc;" v-for="item in secondNavList">
                            <span v-if="item.linkType==1" style="margin-left:5px;">
                                {{item.text}}
                            </span>
                            <img  v-if="item.linkType==2"  style="display:inline-block;height: 30px;width: 60px;" v-bind:src="item.img">
                        </div>
                    </div>
                </a>

                <a href="#shopSwiperNav">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="item in swiperList">
                                <img  v-bind:src="item.img" style="width: 300px;">
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>
                    </div>
                </a>

                <a href="#shopThirdNav">
                    <div  style="height: 60px;line-height: 60px; width: 300px;text-align: center;  background: #fff;">
                        <div style="display:inline-block;text-align: left;font-size: 13px;color: #515151; width: 50px;"
                             v-for="item in thirdNavList">
                            <span v-if="item.linkType==1" style="margin-left:5px;">
                                {{item.text}}
                            </span>
                            <img  v-if="item.linkType==2"  style="display:inline-block;height: 60px;width: 60px;" v-bind:src="item.img">
                        </div>
                    </div>
                </a>

                <a href="#shopFourthNav">
                    <div  style="width: 300px;text-align: center;  background: #fff;">
                        <div style="display:block;text-align: left;font-size: 13px;color: #515151; width: 50px;"
                             v-for="item in fourthNavList">
                            <span v-if="item.linkType==1" style="margin-left:5px;">
                                {{item.text}}
                            </span>
                            <img  v-if="item.linkType==2"  style="display:inline-block;height: 170px;width: 300px;" v-bind:src="item.img">
                        </div>
                    </div>
                </a>

            </div>
            <a href="#shopFiveNav">
                <div class="screen-middle-bottom">
                    <div v-for="item in fiveNavList">
                        <div v-if="item.linkType==1">
                            {{item.text}}
                        </div>
                        <img  v-if="item.linkType==2"  style="height: 30px;width: 60px;" v-bind:src="item.img">
                    </div>
                </div>
            </a>
        </div>
        <div class="screen-footer">

        </div>
    </div>
</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../../js/config.js"></script>
<script src="../../js/shopMng.js"></script>
<script>
    var initShow = true


    $(document).ready(function () {
        $(".screen-footer").on('click',function(){
            console.log('hideOrShwoMobile',initShow)
            initShow = !initShow
            if(initShow){
                $("#previewOnMobile").removeClass("preview_0")
                $("#previewOnMobile").addClass("preview_1")
            }else{
                $("#previewOnMobile").removeClass("preview_1")
                $("#previewOnMobile").addClass("preview_0")
            }
        })

        var mySwiper = new Swiper ('.swiper-container', {
            // 如果需要分页器
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
            pagination: {
                el: '.swiper-pagination',
            },
            /*如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },*/

            /*
            scrollbar: {
                el: '.swiper-scrollbar',
            },*/
        })
    })
</script>
</body>
</html>