<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>微淘</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link type="text/css" rel="styleSheet"  href="/shopmng/css/mask.css" />
    <link type="text/css" rel="styleSheet"  href="/shopmng/css/weTao.css" />
    <meta name="title" content="${detail?.seoTitle}">
    <meta name="keywords" content="${detail?.seoKey}">
    <meta name="description" content="${detail?.seoDesc}" />
</head>
<body style="background: linear-gradient(#F0F0F0,#F2F2F2) ;margin: auto;">
<div id="weTaoDetail">	
    <div class="topPlaceHolder"></div> 
    <div v-if="mask" class="mask">
        <div v-cloak>
            {{maskText}}
        </div>
    </div>
    <div class="container" style="margin:0px;">     
        <div style="cursor: pointer;z-index:99;">
            <div class="content-container">
               ${detail?.content.raw()}
            </div>
            <div class="image-container">
                 #{list items:images,as:'img'} 
                <div style="width:100%;">                	       
                   <img style="width:100%;" src="${img}">                   
                </div>
                 #{/list}
            </div> 
        </div>
    </div>
    <div class="container" style="margin:0px;border-bottom:1px solid #ebebeb;">
    	评论
    </div>
    
    #{if comments?.total > 0 }
    	#{list items:comments.list,as:'comment'} 
		    <div class="container" style="margin:0px;border-bottom:1px solid #ebebeb;">
		    	<div>
		    		<img style="display:inline-block; vertical-align: text-bottom;border-radius:50%;height:30px;width:30x;" src="${comment.avatar}">
		    		<div style="display:inline-block;height:45px;">
		    			<div style="font-size:12px;color:#000;">${comment.nickName}</div>
		    			<div style="font-size:12px;color:#cbcbcb;">${comment.createTime}</div>
		    		</div>
		    	</div>
		    	<div style="margin-top:5px;margin-left:32px;font-size:14px;color:#000;">
		    		${comment.comment}
		    	</div>
		    </div>
	    #{/list}
    #{/if}
    
    #{if comments?.total<=0 }
    <div class="container" data-wetaoid='${detail?.id}' @click='viewComments' style="margin:0px;margin-bottom:70px;border-bottom:1px solid #ebebeb;text-align:center;color:#DCDCDC;font-size:15px;">
    	还没有评论，赶紧去抢占沙发吧！
    </div>
    #{/if}
    #{else}
     <div class="container" data-wetaoid='${detail?.id}' @click='viewComments' style="margin:0px;margin-bottom:70px;border-bottom:1px solid #ebebeb;text-align:center;color:#00CD66;font-size:15px;">
    	查看全部评论(${comments?.total})
    </div>
    #{/else}
    
    <div class="container" data-wetaoid='${detail?.id}' @click='viewComments'  style="margin:0px;width:100%;position:fixed;left:0px;bottom:0px;">
    	<div style="display:inline-block;border-radius:6px;padding:3px;background:#F5F5F5;color:#666;font-size:14px;height:35px;line-height:35px;width:160px;">
    		我有话要说
    	</div>
    	 <div style="float: right;display:inline-block;margin-right:20px;width:110px; position: relative;">
           <div class="wrap" style="display:inline-block;height:30px;position: absolute;left:0px;top:8px;">
              <img v-cloak v-if="isZan" style='vertical-align:text-bottom;height:25px;width:25px;' @click.stop="zanDetail" data-id="${detail?.id}" 	src="/shopmng/images/zan-1.png" >
              <img v-cloak v-else style='vertical-align:text-bottom;height:25px;width:25px;'  @click.stop="zanDetail"  data-id="${detail?.id}" src="/shopmng/images/zan-0.png">
              <span v-if="zan>0" style='color:#cbcbcb;font-size:13px;'>{{zan}}</span>
	          <span v-else style='color:#cbcbcb;font-size:13px;'>${detail?.zan}</span>
			</div>
            <div class="wrap" style="display:inline-block;height:30px;position: absolute;right:0px;top:13px;">
	             <img style='vertical-align: text-top;height:25px;width:25px;'  src="/shopmng/images/comment-0.png">	             
	             <span style='color:#cbcbcb;font-size:13px;'>${comments?.total}</span>
             </div>
         </div>
    </div> 
    <div class="top">
        <img @click="goBackMinapp" src="/shopmng/images/go_back.png" style="height:20px;width:20px;margin-left:5px;">
        <span class="top-title">微淘详情</span>
    </div>
    
    
    
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/public/shopmng/js/config.js"></script>
<script src="/public/shopmng/js/weTaoDetail.js?v=1.0"></script>
<script>	
	weTaoDetail.isZan = ${detail.isZan}	 
	weTaoDetail.shopId = '${detail.shopId}'	
	var imgstyle=$('.content-container img');
	var maxWidth = $(window).width()-20;
	for(i=0;i<imgstyle.length;i++)
	{
		var imgWidth = parseInt($(imgstyle[i]).attr('img_width')||0)
		console.log('imgWidth=',imgWidth,'maxWidth=',maxWidth)
		if(imgWidth>maxWidth){
			imgstyle[i].style.width=($(window).width()-20)+'px';		
		} 
		 
	}
</script>
</body>
</html>